trunk/ejb/samples/customerservice-cxf/src/main/wsdl/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CustomerServiceService"
	targetNamespace="http://customerservice.example.com/service"
	xmlns:tns="http://customerservice.example.com/service"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://customerservice.example.com/service"
			xmlns:cns="http://customerservice.example.com/model"
			attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			targetNamespace="http://customerservice.example.com/service">

			<xs:import schemaLocation="customer.xsd" namespace="http://customerservice.example.com/model"/>
			<xs:element name="getCustomersByName" type="tns:getCustomersByName" />
			<xs:element name="getCustomersByNameResponse" type="tns:getCustomersByNameResponse" />
			<xs:element name="updateCustomer" type="tns:updateCustomer" />
			<xs:element name="deleteCustomerById" type="tns:deleteCustomerById" />
			<xs:complexType name="updateCustomer">
				<xs:sequence>
					<xs:element minOccurs="0" name="customer" type="cns:customer" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="deleteCustomerById">
				<xs:sequence>
					<xs:element minOccurs="0" name="customerId" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getCustomersByName">
				<xs:sequence>
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getCustomersByNameResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="cns:customer" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="NoSuchCustomer" type="tns:NoSuchCustomer" />
			<xs:complexType name="NoSuchCustomer">
				<xs:sequence>
					<xs:element name="customerName" nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getCustomersByNameResponse">
		<wsdl:part name="parameters" element="tns:getCustomersByNameResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCustomersByName">
		<wsdl:part name="parameters" element="tns:getCustomersByName">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateCustomer">
		<wsdl:part name="parameters" element="tns:updateCustomer">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteCustomerById">
		<wsdl:part name="parameters" element="tns:deleteCustomerById">
		</wsdl:part>
	</wsdl:message>	
	<wsdl:message name="NoSuchCustomerException">
		<wsdl:part name="NoSuchCustomerException" element="tns:NoSuchCustomer">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CustomerService">
		<wsdl:operation name="updateCustomer">
			<wsdl:input name="updateCustomer" message="tns:updateCustomer">
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="deleteCustomerById">
			<wsdl:input name="deleteCustomerById" message="tns:deleteCustomerById">
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="getCustomersByName">
			<wsdl:input name="getCustomersByName" message="tns:getCustomersByName">
			</wsdl:input>
			<wsdl:output name="getCustomersByNameResponse" message="tns:getCustomersByNameResponse">
			</wsdl:output>
			<wsdl:fault name="NoSuchCustomerException" message="tns:NoSuchCustomerException">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerServiceServiceSoapBinding"
		type="tns:CustomerService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="updateCustomer">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="updateCustomer">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="getCustomersByName">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getCustomersByName">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getCustomersByNameResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="NoSuchCustomerException">
				<soap:fault name="NoSuchCustomerException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerServiceService">
		<wsdl:port name="CustomerServicePort" binding="tns:CustomerServiceServiceSoapBinding">
			<soap:address location="http://localhost:9090/CustomerServicePort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
